html,
body {
    width: 100%;
    height: 100%;
}

#all {
    background-image: url('img/balloon-1.jpg') no-repeat center;
}

#landing {
    display: table;
    width: 100%;
    height: 100%;
    /*font-family: Anton;*/
    background: linear-gradient( rgba(30, 175, 237, 0.6),
    rgba(26, 165, 26, .4)),
    url('img/hot-air-balloon-clipart.png') no-repeat center;
    background-size: cover;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

#home {
    width: 100%;
    background-color: rgb(27, 209, 63, .5);
}

#info {
    width: 100%;
    background-color: rgb(34, 146, 183, .5);
}

#Gallery {
    width: 100%;
    background-color: rgb(76, 247, 195);

}

#Testimonials {
    width: 100%;
    background-color: rgb(255, 175, 79, .7);
}

#footer {
    width: 100%;
    background-color: grey;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

#landing h1 {
    font-size: 40px;
}

#landing h2 {
    font-size: 30px;
}

img {
    margin: 10px;
}

.container {
    background: pink;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


@media(min-width:768px) {
    #landing h1 {
        font-size: 50px;
    }
    #landing h2 {
        font-size: 35px;
    }
}

@media(min-width:992px) {
    #landing h1 {
        font-size: 65px;
    }
    #landing h2 {
        font-size: 50px;
    }
}
